.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  border: 2px dotted red;
}

.input-container {
  display: flex;
  margin-bottom: 10px;

  /* border: 2px dotted red; */
}

.warning-container {
  display: flex;
  margin-bottom: 10px;

  /* border: 2px dotted red; */
}

.input-container label {
  flex: 15%;
  margin-right: 10px;
}

.input-container input,
.input-container select {
  flex: 85%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #999999;
  cursor: pointer;
}

.even {
  background-color: #f2f2f2;
}

.odd {
  background-color: #ffffff;
}

#infoMessage_noObjectsToDisplay {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

button {
  font-size: 1.4em;
}
button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .input-container {
    flex-direction: column;
  }

  .input-container label {
    margin-bottom: 5px;
  }

  .input-container input,
  .input-container select {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .button-container {
    flex-direction: column;
  }

  .button-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}
